<div class="row">
  <div class="span12">
    <header>
      <h1><%= current_cohort.description %> Student Sign-in </h1>
    </header>
  </div>
</div>

<div id="render-students" class="row">
  <%= render @students %>
</div>
